<!--↓メインのビュー-->

    <div class="wrapper clearfix">
      <!--メイン投稿画面-->
      <main class="main">
        <h2 class="hidden">HOT TOPIC</h2>
        <a href="#" class="hot-topic clearfix">
          <img class="image" src="assets/sucsess" alt=”コンテンツの写真”>
          <div class="content">
            <h3 class="title">あなたの日々の努力をシェア！<br>仲間を作って継続学習</h3>
            <p class="desc">あなただけの人生の目的を達成しよう</p>
            <time class="date" ><%= simple_time(Time.current) %></time>
          </div>
        </a>
        
        <h2 class="heading">Daily report</h2>
        <% @diaries.each do |diary| %>
        
        <%= render partial: "diary", locals: { diary: diary } %>  <!--投稿内容部分テンプレート-->

        <% end %> <!--eachの終わり-->
        <%= paginate(@diaries) %>-
      </main>

<!--サイドメニュー-->
      <div class="sidemenu">
        <h2 class="heading">Genre</h2>
        <ul class="documents">
          
            <li>
              <h3 class="title">ranking</h3>
              <% @genres.each do |genre| %>
              <ul>
                <li><%= link_to "#{genre.genre_key}", "/genres/#{genre.id}", method: :get %></li>
              </ul>
               <% end %>
            </li>
        </ul>
      </div>
    </div>




