<div class="contents row">
  <%= form_for('/diaries', method: :post) do |f| %>
  
  <div class="form-in-inner">
    
    <div class="form-group">
      <h3>作成する</h3>
      <textarea name="philosophy" placeholder="理念"></textarea>
      <textarea name="KPI" placeholder="あなたの理念に基づく目標"></textarea>
      <textarea name="text1" placeholder="そのためにしたこと"></textarea>
      <textarea name="text2" placeholder="もっと良くするために明日何する"></textarea>
    </div>
    <div class="form-group">
      <%= f.label :ジャンル %><br />
      <%= f.text_field :genre_key, class: "form-control" %>
      <input type="submit" value="SEND">
    </div>

  </div>
    
  <% end %>
</div>