@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*,*::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.header {
  width: 100%;
  padding:30px 4% 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #e3e3e3;
  position: sticky;
  top: 0;
  display: flex;
  align-items:center;
}

h1{
  margin: 0; padding:0;
}

a {
  text-decoration: none;
   color: #4b4b4b;
}

.global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
} 

.global-nav li {
  margin:0 0 0 15px;
  font-size:14px;
  padding-top: 4px;
}

nav {
  margin: 0 0 0 auto;
}


.global-nav li:hover{
  background-color: #FFCC99	;
  color: #fff;
}
.global-nav li{
  transition: 0.15s;
}


.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/*メイン投稿一覧画面*/
.main {
  display: block;
  float: left;
  width: 660px;
}

.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}

.hot-topic:hover {
  opacity: 0.85;
}

.hot-topic .image {
  float: left;
  width: 50%;
  height: 100%;
}
.hot-topic .content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  line-height: 1.6;
}
.hot-topic .title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 2.0rem;
}

.hot-topic .desc {
  color: #ddc;
}
.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
  padding: 4px;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
}

.sidemenu {
  float: right;
  width: 275px;
}
.footer {
  width: 100%;
}

.hidden {
  display: none;
}

/*投稿一覧*/

.more_list li{
 display: inline-block;
 margin:5px;
}

.more_list {
  float:right;
}



.heading {
  padding: 10px 12px;
  background: url("bg-slash.gif");
  letter-spacing: 1px;
  font-size:1.6rem;
}

.post_diarry {
  border: 1px solid #aaa;
  margin-bottom: 10px;
  
}
.list {
  margin:20px;
}

.post_philosophy {
  border: 1px solid #aaa;
  margin:10px;
}

.post_KPI{
  border: 1px solid #aaa;
  margin:10px;
}

.for {
  border: 1px solid #aaa;
  margin:10px;
}
.improvement {
  border: 1px solid #aaa;
  margin:10px;
}





/*サイドメニューのCSS*/

.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}
.ranking .ranking-item {
  margin-top: 15px;
}
.ranking .ranking-item a {
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}
.ranking .ranking-item a:hover {
  opacity: 0.8;
}

.ranking .image {
  width: 55px;
  height: 55px;
}

.ranking .text {
  display: inline-block;
  width: 182px;
  color: #00F;
  vertical-align: top;
  line-height: 1.5;
  
}





.ranking .order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border: 1px solid #ccc;
  color: #aaa;
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: ratate(45deg);
  transform: rotate(45deg);
}

.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}
.ranking .ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}

.ranking .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.0rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.documents {
  margin: 10px 10px 30px;
}
.documents,
.documents ul {
  list-style-type: none;
}
.documents > li .title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid #d03c56;
  font-size: 1.4rem;
  line-height: 1.2;
}
.documents > li + li {
  margin-top: 25px;
}

.documents > li ul {
  margin: 15px;
}
documents > li ul > li {
  margin-bottom: 15px;
}
.documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url("arrow.gif") no-repeat left center;
}
.documents a:hover {
  text-decoration: underline;
}

.search-box {
  padding: 15px;
  background-color: #ccc;
  font-size: 0;
}
.search-box > * {
  font-size: 1.2rem;
}
.search-box .serch-input {
  width: 205px;
  height: 26px;
  padding: 0 10px;
  border: none;
}
.serch-box .search-button {
  width: 40px;
  height: 26px;
  border: none;
  background-color: #d03c56;
  color: #fff;
  cursor: pointer;
}

.serch-box .text {
  margin-top: 12px;
}
/*ヘッダー*/
/*header.header {*/
/*  height:90px;*/
/*  border:2px soled ;*/
/*  background-color: #383634;*/
  
/*}*/

/*h1.grid-6 {*/
/*  font-size: 30px;*/
/*  float: left;*/
/*  border: 1px solid;*/
/*}*/

/*a {*/
/*    text-decoration:none;*/
/*    color:#C0C0C0;*/
/*}*/

/*div.grid-6 {*/
/*  float: right;*/
/*  border: 1px solid;*/
/*  line-height: 40px;*/
/*  margin:20px;*/
/*}*/


/*フッター*/
/*footer.footer {*/
/*  background-color: #383634;*/
/*  height: 90px;*/
/*}*/

/*footer p{*/
/*  color: #FFF;*/
/*}*/
